h1 {
  font-size: 5em;
}

p {
  text-align: justify;
  padding: 40px;
}

form {
  margin: 20px auto;
}

input {
  border: 1px solid black;
  text-align: center;
}

.container {
  text-align: center;
}

.jumbotron {
  margin-top: 50px;
}

.btn-group {
  margin: 20px auto;
}